html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.overlay {
	height: inherit;
	width: 100%;
	z-index: 60;
	background: #c0bcb9b0;
	opacity: 0.2;
	position: absolute;
	top: 0px;
	left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

.pop-up-container{
  position: absolute;
	top: 0px;
	left: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 61;
}

.pop-up{
  height: 200px;
  width: 400px;
  border: 3px rgb(205, 222, 241) solid;
  background-color: white;
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(90, 124, 153);
}

.button{
  height:30px;
  width: 150px;
  border-radius: 5px;
  background: rgb(183, 225, 241);
  font-size: 20px;
  color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.card_container {
	position: absolute;
}

.card {
	height: 160px;
	width: 105px;
	background-size: cover;
}

.foundation {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 200px;
	width: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.foundationPile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
	width: 105px;
	border-radius: 5px;
	background: whitesmoke;
}

#root {
	margin: 10px 20px 30px 40px;
	position: relative;
	width: 80%;
}

.waste-pile-container {
	position: absolute;
	left: 0px;
	top: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	width: 250px;
}

.waste-pile {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
	width: 105px;
	border-radius: 5px;
	background: wheat;
}

.top-part {
	height: 200px;
}

.tableauPile {
	margin-top: 10px;
	display: flex;
	width: 105px;
	height: 160px;
	flex-direction: column;
	position: relative;
	border-radius: 5px;
	background: whitesmoke;
}

.bottom-part {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.game {
	display: flex;
	flex-direction: column;
}
